body {
    margin: 50px;
    padding: 0;
    background-image: url(/media/background.png);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}

#ui {
    display: grid;
    grid-template-areas: 
    "head head head"
    "controls none game_status"
    "playerBoard ship_buttons log"
    "computerBoard ship_buttons log";
    grid-template-columns: fit-content(10%) .2fr;
    grid-template-rows: auto;
    background-color: rgba(128, 0, 128, 0.6);
    color: beige;
    max-width: fit-content;
    max-height: fit-content;
    border: 8px double black;
} 

#ui > * {
    margin-left: 20px;
    margin-right: 20px;
}

#header {
    grid-area: head;
}

#control_buttons {
    grid-area: controls;
}

#ship_deployment_buttons {
    grid-area: ship_buttons;
}

#game_status{
    grid-area: game_status;
}

#player_board_container {
    grid-area: playerBoard;
}

#computer_board_container {
    grid-area: computerBoard;
    margin-bottom: 20px;
}

#log_container{
    grid-area: log;
}

#log {
    overflow-y:auto;
    max-height: 900px;
}